h2{
    margin-left: 20px;
    font-size: 30px;
    font-family: monospace;
    width: 45   0px;
    margin: 0 auto;
}
.forecast {
    display: flex;
    justify-content: space-between; 
    width: 700px;
    margin: 0 auto;
  }
  
  .card {
    margin: 30px;
    flex: 1;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
  }
  
  .topick {
    font-weight: bold;
  }
  
  .card img {
    width: 50px; 
  }
  
  .card p {
    margin: 5px 0;
  }
  .weather-display h2 {
    margin: 0 auto;
    width: 500px;
  }